.container {
  display: flex;
  gap: 10px;
  height: 500px;
  min-width: 800px;
}

.leftContent {
  flex-basis: 50%;
  height: 500px;
}

.RightContent {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}